body {
    font-family: Arial, sans-serif;
    padding-top: 100px;
    background-color: #565656;
    max-width: 1900px;
    margin: auto;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 5px 20px 5px 5px;
}

.link img {
    margin-right: 10px;
    border-radius: 50%;
}

.link h2 {
    font-size: 30px;
    margin: 0;
    color: #0ebbad;
}

.link:hover, .link h2:hover {
    color: #ff8400;
}

.constant-grey {
    color: #919191;
    font-size: 18px;
    padding: 0;
}

.preview {
    font-size: 14px;
    color: white;
    margin: 0 10px 0 5px;
}
