<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Placeholder Page{% endblock %}</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="header-container">
    <a class="header-title" href="/">Placeholder</a>
    {% if sessionId %}
        <div class="button-container">
            <a class="navigation-button" href="/article/create">Create Article</a>
            <a class="navigation-button" href="/profile">Profile</a>
            <a class="navigation-button" href="/logout">Logout</a>
        </div>
    {% else %}
        <div class="button-container">
            <a class="navigation-button" href="/user/register">Register</a>
            <a class="navigation-button" href="/login">Login</a>
        </div>
    {% endif %}
</header>
<main class="layout">
    {% block content %}{% endblock %}
</main>
</body>
</html>