<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something broke</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/errorPage.css">
</head>
<body>
<div class="header-container">
    <a class="header-title" href="/">
        Placeholder
    </a>
</div>
<div class="redirect">
    You will be redirected...
</div>
<div class="message">
    ERROR {{ message }}
</div>
</body>